langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
groq

chromadb
sentence-transformers
langchain-chroma

pymupdf

python-dotenv

streamlit
